<!-- base.html -->
<html>
<head>
    {% include 'header.html' %}
    <title>
        {% block title %} 
        
        {% endblock %}
    </title>

    {% load static %}

</head>
<body>
{% comment %} 修改內容 {% endcomment %}
    <div class='container-fluid'>
        <div class="well post_title">
            <h1 align="center"><div class="p-3 mb-2 bg-primary text-white">111年職前訓練-大數據分析應用人才培育班</div></h1>
            <h1><img width="100" height="100" src="{% static 'img/logo_1.gif' %}"> <font color="green">第三組  車牌辨識</font></h1>
            {% comment %} <h4 align="center"><font color="blue">第三組 組員：1號-錢德豪、3號-林易德、4號-許庭恩、8號-高棋楠、10號-鍾國珍、26號-張豐盛</font></h4> {% endcomment %}
            <h4 align="center"><font color="blue">第三組 組員：錢德豪、林易德、許庭恩、高棋楠、鍾國珍、張豐盛</font></h4>
        </div>
        <div class='panel panel-default'>
            <div class="row">
                {% include 'menu.html' %}
                <div class='col-sm-8 col-md-8'>
                    <div class="panel-header">
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel-footer">
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
    </div>
{% comment %} 修改內容 {% endcomment %}

</body>
</html>
