<!-- index.html -->
{% extends 'base.html' %}


{% block title %} 
 
{% endblock %}

{% comment %} {% block headmessage %} 
    <h3 style='font-family:標楷體;'>本站文章列表</a>
{% endblock %} {% endcomment %}


{% block content %}
{% load static %}
<h3 align="left"><font color="green">摘要:</font></h3>
<h3 align="left"><font color="green">
在現實中我們如果要跟隨特定車輛時，駕駛者除了要駕駛車輛，還得分心去關注跟隨是否正確的車輛。造成駕駛分心，進而增加事故發生。
有鑑於此問題，<b>我們團隊希望可以藉由學習到的內容提出一個基於深度學習(Deep learning, DL)的YOLO(You Only Look Once, YOLO)演算法，應用至辨識出車牌並可以追蹤特定車牌之技術。</b>進而取代原來需要靠人眼進行追蹤，讓駕駛可以專心開車，減少事故發生。
</font></h3>
<h1><img width="300" height="100" src="{% static 'img/J5.gif' %}">
    <img width="300" height="100" src="{% static 'img/C2.gif' %}"></h1>
<h1><img width="300" height="100" src="{% static 'img/C3.gif' %}">
    <img width="200" height="50" src="{% static 'img/J5_1.jpg' %}"></h1>
{% comment %} <h1><img width="100" height="100" src="{% static 'img/logo_1.gif' %}"></h1> {% endcomment %}

{% endblock %}
