{% extends 'base.html' %}




{% block title %} 
Test Title
{% endblock %}



{% block content %} 

<h4 align="center"><font color="blue">說明:本頁面呈現，提出的功能可以擷取畫面中的車牌</font></h4>
<hr>
    <h3><font color="blue">原始影片</font></h4>
    <div class="row">
        <iframe  iframe width="616" height="346.5" src="https://www.youtube.com/embed/VPT-F6Ybvqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    </div>
<hr>
    <h3><font color="blue">實驗模擬結果</font></h4>
    <div class="row">
         <iframe  iframe width="616" height="346.5" src="https://www.youtube.com/embed/dztKg1fbPQ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
    
{% endblock %}
