{% extends 'base.html' %}




{% block title %} 
Test Title
{% endblock %}



{% block content %} 

<h4 align="center"><font color="blue">說明:本頁面呈現</font></h4>
<hr>
    <h3><font color="blue">Choose</font></h3>

    <h1><img height="346.5" src="\static\img\choose.jpg"></h1>

<hr>
    <h3><font color="blue">Result</font></h3>

    <h1><img height="346.5" src="\static\img\result.jpg"></h1>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
    
{% endblock %}
