{% extends 'base.html' %}




{% block title %} 
Test Title
{% endblock %}



{% block content %}
{% load static %}
<div class="col-lg-6 col-xl-4 col-xxl-3">
    <div class="card-body text-center">
        <a class="d-block mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact">
        <div class="image mb-3 d-inline-flex mt-n8">
            <img style="border-radius: 50%;">
            <img width="200" height="200" src="{% static 'img/10-1.jpg' %}">
        </div>

        <h3 class="card-title">鍾國珍</h3>
        </a>

        <ul class="list-unstyled d-inline-block mb-5">
        <li class="d-flex mb-1">
            <i class="mdi mdi-map mr-1"></i>
            <h4><font color="blue">中興-電機工程系</font></h4>
            <h5>專案整體架構、流程規劃、</h5>
            <h5>演算法技術協助、全端技術協助</h5>
        </li>
        <li class="d-flex">
            <i class="mdi mdi-email mr-1"></i>
            <a href="mailto:chkujn@gmail.com">chkujn@gmail.com</a>
        </li>
        </ul> 
    </div>
</div>
<div class="col-lg-6 col-xl-4 col-xxl-3">
    <div class="card-body text-center">
        <a class="d-block mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact">
        <div class="image mb-3 d-inline-flex mt-n8">
            <img width="200" height="200" src="{% static 'img/03-1.jpg' %}">
        </div>

        <h3 class="card-title">林易德</h3>
        </a>

        <ul class="list-unstyled d-inline-block mb-5">
        <li class="d-flex mb-1">
            <i class="mdi mdi-map mr-1"></i>
            <h4><font color="blue">弘光科大-資訊工程系</font></h4>
            <h5>演算法程式、開發、編寫</h5>
            <h5> 全端技術協助</h5>
        </li>
        <li class="d-flex">
            <i class="mdi mdi-email mr-1"></i>
            <a href="mailto:tustusri@gmail.com">tustusri@gmail.com</a>
        </li>
        </ul> 
    </div>
</div>
<div class="col-lg-6 col-xl-4 col-xxl-3">
    <div class="card-body text-center">
        <a class="d-block mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact">
        <div class="image mb-3 d-inline-flex mt-n8">
            <img width="200" height="200" src="{% static 'img/01-1.jpg' %}">
        </div>

        <h3 class="card-title">錢德豪</h3>
        </a>

        <ul class="list-unstyled d-inline-block mb-5">
        <li class="d-flex mb-1">
            <i class="mdi mdi-map mr-1"></i>
            <h4><font color="blue">中央-光電科學所</font></h4>
            <h5>演算法技術開發編寫</h5>
            <h5> </h5>
        </li>
        <li class="d-flex">
            <i class="mdi mdi-email mr-1"></i>
            <a href="mailto:dehawchien1213@gmail.com">dehawchien1213@gmail.com</a>
        </li>
        </ul> 
    </div>
</div>
<div class="col-lg-6 col-xl-4 col-xxl-3">
    <div class="card-body text-center">
        <a class="d-block mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact">
        <div class="image mb-3 d-inline-flex mt-n8">
            <img width="200" height="200" src="{% static 'img/08-1.jpg' %}">
        </div>

        <h3 class="card-title">高棋楠</h3>
        </a>

        <ul class="list-unstyled d-inline-block mb-5">
        <li class="d-flex mb-1">
            <i class="mdi mdi-map mr-1"></i>
            <h4><font color="blue">中正-會資所</font></h4>
            <h5>專案組長</h5>
            <h5>專案追蹤、前端編寫</h5>
        </li>
        <li class="d-flex">
            <i class="mdi mdi-email mr-1"></i>
            <a href="mailto:kao54886@email.com">kao54886@gmail.com</a>
        </li>
        </ul> 
    </div>
</div>
<div class="col-lg-6 col-xl-4 col-xxl-3">
    <div class="card-body text-center">
        <a class="d-block mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact">
        <div class="image mb-3 d-inline-flex mt-n8">
            <img width="200" height="200" src="{% static 'img/04-1.jpg' %}">
        </div>

        <h3 class="card-title">許庭恩</h3>
        </a>

        <ul class="list-unstyled d-inline-block mb-5">
        <li class="d-flex mb-1">
            <i class="mdi mdi-map mr-1"></i>
            <h4><font color="blue">中教大-數學教育學系</font></h4>
            <h5>演算法技術開發編寫</h5>
            <h5> </h5>
        </li>
        <li class="d-flex">
            <i class="mdi mdi-email mr-1"></i>
            <a href="mailto:sdh15613452@gmail.com">sdh15613452@gmail.com</a>
        </li>
        </ul> 
    </div>
</div>
<div class="col-lg-6 col-xl-4 col-xxl-3">
    <div class="card-body text-center">
        <a class="d-block mb-2" href="javascript:void(0)" data-toggle="modal" data-target="#modal-contact">
        <div class="image mb-3 d-inline-flex mt-n8">
            <img width="200" height="200" src="{% static 'img/26-1.jpg' %}">
        </div>

        <h3 class="card-title">張豐盛</h3>
        </a>

        <ul class="list-unstyled d-inline-block mb-5">
        <li class="d-flex mb-1">
            <i class="mdi mdi-map mr-1"></i>
            <h4><font color="blue">東海-物理系</font></h4>
            <h5>web前端編寫、網頁架設</h5>
            <h5></h5>
        </li>
        <li class="d-flex">
            <i class="mdi mdi-email mr-1"></i>
            <a href="mailto:kyoshirou7@hotmail.com.tw">kyoshirou7@hotmail.com.tw</a>
        </li>
        </ul> 
    </div>
</div>
{% endblock %}
