<!-- index.html -->
{% extends 'base.html' %}


{% block title %} 
COPY from https://ouiinc.jp/
{% endblock %}

{% comment %} {% block headmessage %} 
    <h3 style='font-family:標楷體;'>本站文章列表</a>
{% endblock %} {% endcomment %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
{% block content %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<section id="section-team" class="section-wrapper section-wrapper--gray">
    {% comment %} <p class="section-heading">TEAM</p> {% endcomment %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
        <img
          src="/images/member-shimizu.png"
          width="300"
          height="300"
        />
        <h3 class="card-title">錢德豪</h3>
        <h4><font color="blue">中央-光電科學所</font></h4>
        <h5>演算法技術開發編寫</h5>
    </div>
    <div class="col">
        <img
          src="/images/member-shintaro.png"
          width="300"
          height="300"
        />
        <h3 class="card-title">林易德</h3>
        <h4><font color="blue">中興-電機工程系</font></h4>
        <h5>演算法程式、開發、編寫</h5>
        <h5>全端技術協助</h5>
    </div>
    <div class="col">
        <img
          src="/images/member-makoto.png"
          width="300"
          height="300"
        />
        <h3 class="card-title">許庭恩</h3>
        <h4><font color="blue">中興-電機工程系</font></h4>
            <h5>演算法技術開發編寫</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        <img
          src="/images/member-akito.png"
          width="300"
          height="300"
        />
        <h3 class="card-title">高棋楠</h3>
        <h4><font color="blue">中興-電機工程系</font></h4>
        <h5>專案組長</h5>
        <h5>專案追蹤、前端編寫</h5>
    </div>
    <div class="col">
        <img
          src="/images/member-issei.jpg"
          width="300"
          height="300"
        />
        <h3 class="card-title">鍾國珍</h3>
        <h4><font color="blue">中興-電機工程系</font></h4>
            <h5>專案整體架構、流程規劃、</h5>
            <h5>演算法技術協助、全端技術協助</h5>
    </div>
    <div class="col">
        <img
          src="/images/member-naoko.png"
          width="300"
          height="300"
        />
        <h3 class="card-title">張豐盛</h3>
        <h4><font color="blue">東海-物理系</font></h4>
        <h5>web前端編寫、網頁架設</h5>
    </div>
</div>
</div>
</section>
    {% comment %} {% for post in posts %}
        <div class="panel panel-default"> {% endcomment %}
            {% comment %} <div class="panel-heading"> {% endcomment %}
            {% comment %} <div class='post_title'>
                <a href='/post/{{post.slug}}'>{{post.title}}</a>
            </div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="panel-body">
                {{post.body | safe | truncatewords_html:'120' }}
            </div> {% endcomment %}
            {% comment %} <div class="panel-footer">
                {{post.pub_date | date:"Y-m-d H:m:s"}}
            </div> {% endcomment %}
        {% comment %} </div>
    {% endfor %}  {% endcomment %}
    
{% endblock %}
